@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway");

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 "Raleway", sans-serif;
  background-color: #f4442e;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  background-image: url(/images/header-background.jpeg);
}

section {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-around;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  margin-top: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  height: 2rem;
  width: 6rem;
  font-size: 0.8rem;
  background-color: #011627;
  color: #f0f0c9;
  border: 1px solid #f0f0c9;
  border-radius: 5px;
  margin: 5px 0;
  outline: none;
}

footer {
  display: none;
}

aside p {
  display: none;
  text-align: center;
  width: 75%;
}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.remove-choices button {
  display: none;
}

.chosen-text {
  display: block;
  height: 2rem;
  width: 6rem;
}


.replay-button {
  width: 200px;
  height: 200px;
  border: none;
  font-size: 1.5rem;
  background-image: url(/images/cat.gif);
  background-size: 200px 200px;
  color: #011627;

}

.add-replay {
  display: flex;
  justify-content: center;
  padding-top: 75px;
}  

@media (max-width: 700px) {
  header {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
    margin: 15px 0 25px 0;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-height: 600px) {
  .add-replay {
    padding-top: 25px;
  }
  
  h3 {
    font-size: 1.7rem;
    margin: 15px 0 25px 0;
  }
}
