@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway");

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 "Raleway", sans-serif;
  background-color: #f4442e;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  background-image: url(/images/header-background.jpeg);
}

main {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 2.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  height: 2rem;
  width: 6rem;
  font-size: 0.8rem;
  background-color: #011627;
  color: #f0f0c9;
  border: 1px solid #f0f0c9;
  border-radius: 5px;
  margin: 5px 0;
  outline: none;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 75px;
}

.remove-choices button {
  display: none;
}
